body{
   font-family: 'Nanum Myeongjo', serif;
}
h1{
   border-bottom: 10px solid grey;
   padding-bottom: 30px;
   
}
a{
   text-decoration: none;
}
#container{
   display: grid;
   grid-template-columns: 150px 1fr;
}

@media all and (min-width: 480px){ 
         body{
             background-color:green;
         }
               #container{
         display: grid;
         grid-template-columns: 300px 1fr;
         }
     }
     
   @media all and (max-width: 500px) {
         body{
             background-color:rgb(200, 255, 0);
         }
     }